name: Sync Develop to Main

on:
  push:
    branches:
      - develop
  workflow_dispatch:
    
jobs:
  sync-branches:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          token: ${{ secrets.BOT_ADMIN_TOKEN}}

      - name: Configure Git
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'

      - name: Merge changes from develop
        run: |
          git merge origin/develop -m "chore: merge develop into main"
          git push origin main
